@page
@model Xpectrum_Structure.Pages.Erronea.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Xpectrum Airlines</title>
</head>
<body>
    <h3>Recuperación de Contraseña Solicitada</h3>
    <p>Te hemos enviado un correo con un enlace para restablecer tu contraseña. Revisa tu bandeja de entrada y sigue las instrucciones.</p>
    <a href="/Account/Login">Volver a Iniciar Sesión</a>
</body>
</html>
